/* Font Import */
@font-face {
  font-family: Arcade;
  src: url(./assets/fonts/ARCADE.TTF);
}
/*Header */
h3 {
  font-family: Arcade;
  font-size: 4em;
  text-align: center;
  color: white;
}
h3:hover {
  color: grey;
}
/* Background, font  and color */
* {
  background-color: black;
  color: white;
  font-family: Arcade;
}
p {
  font-size: 2em;
}

/* Score Cards */
#score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.scoreCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreCardsPoints {
  margin-top: 0.2em;
  font-size: 4em;
}
/* Buttons */
#gameButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.gameBtn {
  width: 20vh;
  height: 10vh;
  border: 0.2vh solid white;
  padding: 5vh;
}
.gameBtn:hover {
  border: 3px solid green;
}
